<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="text-center">
        <h1>Login</h1>
      </div>
      <br>
      <div>
        <form class="user" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="Enter username" formControlName="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control"
                   placeholder="Enter password" formControlName="password">
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox small">
              <input type="checkbox" class="custom-control-input" id="customCheck">
              <label class="custom-control-label" for="customCheck">Remember</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-user btn-block">
            Login
          </button>
        </form>
        <hr>
        <div class="text-center">
          <a class="small" href="forgot-password.html">Forgot password?</a>
        </div>
        <div class="text-center">
          <a class="small" href="login">Login</a>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
